<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>ChatGPT Deteriorado</title>
  <link rel="stylesheet" href="/static/style.css">

  <!-- Efecto glitch para deterioro alto -->
  <style>
    @keyframes glitchFlash {
      0% { background-color: black; }
      100% { background-color: #111; }
    }
  </style>
</head>
<body>

  <canvas id="matrix"></canvas>

  <h1 class="tituloGPT">CHATGPT</h1>

  <form class="escribir" method="POST">
    <input type="text" name="pregunta" placeholder="Haz una pregunta..." required autofocus>
  </form>

  {% if respuesta %}
   <div class="respuesta" id="respuesta">
  <strong>Deterioro: {{ nivel }}%</strong><br>
  <span id="respuesta-texto"></span>
</div>
  {% endif %}

  <script src="{{ url_for('static', filename='funciones.js') }}"></script>
</body>
</html>
